@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 5rem;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffeb3b;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

header h1 {
  font-size: 2rem;
  color: #333;
}

.notes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem; /* Asegura que haya espacio para el botón */
}

.add {
  position: fixed;
  top: 4rem;
  right: 1rem;
  background-color: #097a01;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 30px;
  z-index: 20; /* Asegura que el botón esté encima de las notas */
}

.add:hover {
  background-color: #84ff00;
  color: #000;
}

.add:active {
  transform: scale(0.98);
}

.note {
  background-color: #fff9c4;
  border: 2px solid #ffeb3b;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
}

.note:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.15);
}

.note .tools {
  background-color: #ffd54f;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  border-bottom: 2px solid #ffeb3b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
  transition: color 0.3s;
}

.note .tools button:hover {
  color: #000;
}

.note .header {
  background-color: #ffeb3b;
  color: #333;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #ffd54f;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 100%;
  width: 100%;
  padding: 20px;
  resize: none;
  background-color: transparent;
}

.main {
  padding: 20px;
  flex-grow: 1;
  word-wrap: break-word;
}

.hidden {
  display: none;
}
